/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

/*
 * A better looking default horizontal rule
 */

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

/*
 * Remove default fieldset styles.
 */

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

/*
 * Allow only vertical resizing of textareas.
 */

  textarea {
    resize: vertical;
  }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*=================================algemeen===================================*/
.map{
  display: block; 
}
.klok{
  width: 500px;
}
:root {
  color: inherit;
}
header{
  
  width: 100%;
}

main{
  width: 100%;
  height: 97vh;
  
}
footer{
  padding-top:20px;
  padding-bottom: 20px;
  margin-top: 40px;
  background-color:#333;
  color: whitesmoke;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}


.rechts ul{
  list-style-type: none;
}

.personage-container{
  width: 80%;
  display: flex;
  justify-content: center;
  margin:0 auto;
}

.container{
  display: flex;
  justify-content: center;
  width: 900px;
  margin:0 auto;
}
.MuseContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container h1{
  margin:20px;
  font-size: 50px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h3{
  color: grey;
  margin-bottom:10px;
  font-size: 25px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar img{
  height: 50px;
  margin-left: 10px;
  border-radius: 3px;
}

.cato-container{
  display: flex;
  justify-content: space-between;
}
.cato-temp-wrapper{
  width: 80%;
  border: 1px black solid;
}
.InfoImg img, .cover-img img{
  margin: 0px 25px 25px 25px;
  float: right;
  max-width: 350px;
  max-height: auto;
}

/*==================================== Navbar ================================= */

.navbar {
  height: 100px;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo{
  padding:  5px;
  background: white;
}
/* Links inside the navbar */
.dropdown a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown ,.homebtn, .dropbtn-home{
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn, .dropbtn-home{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 18px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn-home:hover .dropbtn-home{
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 
.inlist{
  margin-left: 245px;
}
/*===============================END Navbar ================================= */


/* ============================== categories pages =============================*/
.cato-container{
/* 
  display: flex;
  justify-content: center;
  align-items: center; */
}
.cato-keuze-temp a{
  text-decoration: none;
  color: black;
}
.cato-keuze-temp{
  display: flex;  
  flex-flow: column;
  justify-content: space-between;  
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-right: 40px;
  margin-top: 100px;
  text-align: center;
  font-family: arial;
  height: 400px;
}

.cato-keuze-temp button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: lightgray;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  height: 100px;
}
.cato-keuze-temp h3{
padding-top: 10px;
}
.cato-keuze-temp button:hover {
  opacity: 0.7;
}
/* ==============================END categories pages =============================*/

/* songtexten pages */

.pib-rood  {
  background-color: #cc0000;
  font-size: 20px;
}
/*plug in baby orange*/
.pib-orange{
  background-color: #B97D4B;
}
.pib-cover-img{
  margin-left: 25px;
}

.Uprising{
  background-color: #B97D4B;
  color: #cc0000;
  font-size: 15px;
  
}

.SongtextKillerqueen{
  background-color: #4682B4;

}

.return-btn{
  background-color: #333;
}

.backbtn a{
  text-decoration: none;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  
}

.backbtn{
  background-color: white;
  border-radius: 3px;
}

.cirkelzaag-img{
  height: 40%;
}

/* ===========================darkvader page ====================== */

.darthvaderPage{
  margin: 30px 30px;
  height: 760px;
}
main .InfoPaginaDarthVader{
  background-color: #FFFF66 ;
}

/* ===========================Songtext pages ====================== */
.Songtext-container{
  width: 90%;
  color: black;
}
.Songtext p{
  width: 50%;
  margin:0px 0px 20px 0px;
}
.Songtext, .InfoText, .InfoText a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  color: black;
}

main#madness{
  background: #cc0000;
  font-size: 17px;
}

/* ========================= All info pages ========================= */
 .InfoText{ 
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ========================= All info pages ========================= */



/* Info pages luke skywalker and Timothy Dalton*/
main .InfoPaginaLukeSkywalker, main .InfoPaginaTimothyDalton{
  background-color: #317F43;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

   .hidden,
   [hidden] {
    display: none !important;
  }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }

/*
 * Hide visually and from screen readers, but maintain layout
 */

  .invisible {
    visibility: hidden;
  }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]::after {
      content: " (" attr(href) ")";
      }

      abbr[title]::after {
        content: " (" attr(title) ")";
        }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
        a[href^="#"]::after,
        a[href^="javascript:"]::after {
          content: "";
        }

        pre {
          white-space: pre-wrap !important;
        }

        pre,
        blockquote {
          border: 1px solid #999;
          page-break-inside: avoid;
        }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
        thead {
          display: table-header-group;
        }

        tr,
        img {
          page-break-inside: avoid;
        }

        p,
        h2,
        h3 {
          orphans: 3;
          widows: 3;
        }

        h2,
        h3 {
          page-break-after: avoid;
        }
      }

